<template name="OceanWorld">

	<!-- <div id="oceanworldSceneDiv"></div> -->

	<div id="oceanworldBody">

		{{#if currentUser}}

		<!-- <div id="oceanworldSceneDiv"></div> -->

		{{#if inStarfish}}
			<div id="oceanworldScoreDiv">
				<p>Activity Mastery Level: {{{dfaScoreStarfish}}}<br>Used {{hintsUsed}} out of {{maxHints}} hints.</p>
			</div>
		{{else}}
			{{#if inNet}}
				<div id="oceanworldScoreDiv">
					<p>Activity Mastery Level: {{netPointsDisplay}}</p>
				</div>
			{{/if}}
		{{/if}}

		<div id="starfishHintCover"><p>Calculating Hints...Please Wait</p></div>

		<div id="oceanworldContainerDiv">

			<div id="oceanworldInnerDiv">

				<div class="row" id="oceanworldHeaderDiv">
					<!--Starfish Activity-->
					{{#if inStarfish}}
						<div class="col-md-4">
							<p>{{{starfishInstructions}}}</p>
							<!-- <p>Activity Score: {{{dfaScoreStarfish}}}<br>Used {{hintsUsed}} out of {{maxHints}} hints.</p> -->
						</div>
						<div class="col-md-4" id="oceanworldMiddle">
							<p>{{{starfishHeader}}}</p>
							<!-- <p id="starfishHintText"></p> -->
							<p id="oceanworldBtnInstruc">{{{starfishBtnInstruc}}}</p>
							<button id="nextLangButton">Next Pattern</button>
						</div>
						<div class="col-md-4" id="oceanworldButtonDiv">
							<button id="addStoneButton">+</button>
							<button id="finalStoneButton">&#10003;</button>
							<button id="purplePenButton">&#9998;</button>
							<button id="orangePenButton">&#9998;</button>
							<button id="deleteButton">X</button>
							<br>
							<button id="testButton">TEST</button>
							<button id="resetButton">&#10226;</button>
							<button id="starfishHintButton">HINT</button>
							<button id="backButton"></button>
							<button id="currentPen">{{{starfishPen}}}</button>
						</div>
					{{else}}
						<!--Net Activity-->
						{{#if inNet}}
							<div class="col-md-4" id="netVillainDiv">
								<div class="row">
									<div class="col-md-2">
										Villain
										<img id="netVillainImage" src="images/oceanJellyfish.png"><br>
										<button id="netInfoButton">?</button>
									</div>
									<div class="col-md-10">
										{{#if choosingLanguage}}
											<p>Choose a language to prove nonregular.</p>
										{{else}}
											{{#if choosingString}}
												<p>Choose a string in the language to pump from the choices on the right.</p>
											{{else}}
												{{#if choosingParsing}}
													There {{numParsingChoices}} I can parse this string into xyz. For each parsing, you need
													to show that I can't pump the string and stay in the language.
													{{#if suboptimalParsing}}
														<br>Picking a different string might result in fewer parsings. Would you like to pick a different string?
													{{/if}}
												{{else}}
													{{#if choosingI}}
														Now give a number <em>i</em> where the pumped string xy<sup><em>i</em></sup>z is not in the language.<br>
														{{{netErrorMessage}}}
													{{else}}
														{{#if choosingReason}}
															Why does this fail?<br>
															{{{netErrorMessage}}}
														{{else}}
															{{{netErrorMessage}}}
														{{/if}}
													{{/if}}
												{{/if}}
											{{/if}}
										{{/if}}
									</div>
								</div>
							</div>
							<div class="col-md-4" id="netMiddleDiv">
								{{#if choosingLanguage}}
									<select id="netLangSelect">
										<option>Choose Language</option>
										{{#each netLanguages}}
											<option value={{langId}} class={{className}}>{{{description}}}</option>
										{{/each}}
									</select>
								{{else}}
									<p>Language: {{{netLang}}}, Pumping Length: <em>p</em></p>
									{{#if choosingString}}
										
									{{/if}}
									{{#if choosingParsing}}
										String: {{{stringChoice}}}<br>
										{{#if suboptimalParsing}}
											<button id="changeStringButton">Change String</button>
										{{/if}}
									{{/if}}
									{{#if choosingI}}
										String: {{{stringChoice}}}<br>
										Parsing: {{{parsingChoice}}}<br>
										<em>i</em>: {{{iChoice}}}
									{{/if}}
									{{#if choosingReason}}
										String: {{{stringChoice}}}<br>
										Parsing: {{{parsingChoice}}}<br>
										<em>i</em>: {{{iChoice}}}
									{{/if}}
								{{/if}}
							</div>
							<div class="col-md-4" id="netHeroDiv">
								<div class="row">
									<div class="col-md-10">
										{{#if choosingString}}
											{{#each stringChoices}}
												<button class="stringChoiceButton">{{{choice}}}</button><br>
											{{/each}}
										{{else}}
											{{#if choosingParsing}}
												{{#each parsingChoices}}
													<button class={{className}} disabled={{isDisabled}}>{{{choice}}}</button><br>
												{{/each}}
											{{else}}
												{{#if choosingI}}
													{{#each iChoices}}
														<button class="iChoiceButton">{{{choice}}}</button><br>
													{{/each}}
												{{else}}
													{{#if choosingReason}}
														{{#each reasonChoices}}
															<button class="reasonChoiceButton">{{{choice}}}</button><br>
														{{/each}}
													{{/if}}
												{{/if}}
											{{/if}}
										{{/if}}
									</div>
									<div class="col-md-2">
										Hero
										<img id="netHeroImage" src="images/oceanFish.png"><br>
										<button id="netBackButton"><!--&#11013;--></button>
									</div>
								</div>
							</div>
						{{else}}
							<!--Ocean World-->
							<div class="col-md-4">
								<p>{{{owInstructions}}}</p>
							</div>
							<div class="col-md-4" id="oceanworldMiddle">
								<h1>Ocean World</h1>
							</div>
							<div class="col-md-4" id="oceanworldButtonDiv">
								<div class="row smallCircleRow">
								<div class="col-md-4">
									<div class="smallCircleContainer">
										<div class="smallCircle" id="world2CreatureCircle">
											<div class="smallCircleOverlay">
												<div>
													Hero
												</div>
											</div>
											<div class="homeCircleBackground"></div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="smallCircleContainer">
										<div class="smallCircle" id="world2ItemCircle">
											<div class="smallCircleOverlay">
												<div>
													Item
												</div>
											</div>
											<div class="homeCircleBackground"></div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="smallCircleContainer">
										<div class="smallCircle" id="world2VillainCircle">
											<div class="smallCircleOverlay">
												<div>
													Villain
												</div>
											</div>
											<div class="homeCircleBackground"></div>
										</div>
									</div>
								</div>
							</div>
							</div>
						{{/if}}
					{{/if}}
				</div>

				<div id="oceanworldSceneDiv"></div>

			</div>

		</div>

		{{else}}

		<br><br><br>
		<h3 class="blue">Please log in to play the OceanWorld activities.</h3>

		{{/if}}

		{{> Navigation}}

	</div>

</template>